//
// Override global variables
//

// Theme colors
// Override primary color variants
$primary:       									#3445E5; // Bootstrap variable
$primary-hover:    									#1B2CCF; // Custom variable
$primary-light:    									#F1F3FF; // Custom variable
$primary-inverse:  									#FFFFFF; // Custom variable
