<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="customer">
        <ng-container *ngIf="customer.id">Edit</ng-container>
        <ng-container *ngIf="!customer.id">Create</ng-container>
        customer
        <ng-container *ngIf="customer.id"
          >'{{ customer.firstName }} {{ customer.lastName }}'</ng-container
        >
      </ng-container>
    </div>
  </div>
  <div
    class="overlay overlay-block cursor-default modal-body"
    style="min-height: 404px"
  >
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="customer">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Enter First name</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="firstName"
              placeholder="First Name"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('firstName')"
              [class.is-valid]="isControlValid('firstName')"
              formControlName="firstName"
            />
            <div class="valid-feedback" *ngIf="isControlValid('firstName')">
              First name was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'firstName')"
            >
              First name is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'firstName')"
            >
              First name should have at least 3 symbols
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxlength', 'firstName')"
            >
              First name should have maximum 100 symbols
            </div>
          </div>
          <div class="col-lg-4">
            <label class="form-label">Enter Last name</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid is-invalid"
              name="lastName"
              placeholder="Last Name"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('lastName')"
              [class.is-valid]="isControlValid('lastName')"
              formControlName="lastName"
            />
            <div class="valid-feedback" *ngIf="isControlValid('lastName')">
              Last name was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'lastName')"
            >
              Last name is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'lastName')"
            >
              Last name should have at least 3 symbols
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxLength', 'lastName')"
            >
              Last name should have maximum 100 symbols
            </div>
          </div>
          <div class="col-lg-4">
            <label class="form-label">Enter Login</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="userName"
              placeholder="Login"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('userName')"
              [class.is-valid]="isControlValid('userName')"
              formControlName="userName"
            />
            <div class="valid-feedback" *ngIf="isControlValid('userName')">
              Login was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'userName')"
            >
              Login is required
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Enter Email</label>
            <input
              type="email"
              class="form-control form-control-lg form-control-solid"
              name="email"
              placeholder="Email"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('email')"
              [class.is-valid]="isControlValid('email')"
              formControlName="email"
            />
            <div class="valid-feedback" *ngIf="isControlValid('email')">
              Email was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'email')"
            >
              Email is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('email', 'email')"
            >
              Email format is incorrect
            </div>
          </div>
          <div class="col-lg-4">
            <label>Date of Birth</label>
            <div class="input-group input-group-solid">
              <input
                type="text"
                name="dob"
                class="form-control form-control-lg form-control-solid"
                autocomplete="off"
                placeholder="dd/mm/yyyy"
                ngbDatepicker
                #d="ngbDatepicker"
                [class.is-invalid]="isControlInvalid('dob')"
                [class.is-valid]="isControlValid('dob')"
                formControlName="dob"
                readonly="true"
              />
              <div class="input-group-append" (click)="d.toggle()">
                <span class="input-group-text">
                  <i class="text-dark-50 flaticon-calendar"></i>
                </span>
              </div>
            </div>
            <div class="valid-feedback" *ngIf="isControlValid('dob')">
              Date of Birth was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'dob')"
            >
              Please enter <b>Date of Birth</b> in 'mm/dd/yyyy' format
            </div>
          </div>
          <div class="col-lg-4">
            <label class="form-label">Enter IP Address</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="ipAddress"
              placeholder="255.255.255.0"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('ipAddress')"
              [class.is-valid]="isControlValid('ipAddress')"
              formControlName="ipAddress"
            />
            <div class="valid-feedback" *ngIf="isControlValid('ipAddress')">
              Login was entered correct
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label>Select Gender</label>
            <select
              class="form-control form-control-lg form-control-solid"
              name="gender"
              [class.is-invalid]="isControlInvalid('gender')"
              formControlName="gender"
            >
              <option value="Female">Female</option>
              <option value="Male">Male</option>
            </select>
            <div class="feedback">Please select <b>Gender</b></div>
          </div>
          <div class="col-lg-4">
            <label>Select Type</label>
            <select
              class="form-control form-control-lg form-control-solid"
              name="type"
              formControlName="type"
            >
              <option value="1">Business</option>
              <option value="2">Individual</option>
            </select>
            <div class="feedback">Please select <b>Type</b></div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light btn-elevate mr-2"
      (click)="modal.dismiss()"
    >
      Cancel
    </button>
    <ng-container *ngIf="customer">
      <button
        type="submit"
        class="btn btn-primary btn-elevate"
        (click)="save()"
        [disabled]="formGroup.invalid"
      >
        Save
      </button>
    </ng-container>
  </div>
</div>
