//
// Layout Config
//

// Root Font Sizes
$root-font-size:                                    13px; // Root font size for desktop mode
$root-font-size-lg:                             	12px; // Root font size for tablet mode
$root-font-size-md:                             	12px; // Root font size for mobile mode

// Page Background Color
$page-bg:	 										#F2F3F7 !default;

// Page Content Background Color
$content-bg:                                        #FBF6F0 !default;

// Spacings
$spacings: (
	page-y:  20px, // Page top and bottom spaces
	content-x: 30px // Content left and right spaces
) !default;

// Page Paddings
$page-padding: (
	desktop: 30px, // Padding for desktop mode
	tablet-and-mobile: 20px, // Padding for tablet and mobile modes
) !default;

// Content Top Spacing
$page-content-top-space: 10px !default;

// Header
$header-config: (
	// Desktop Mode
	desktop: (
		// Default Mode
		default: (
			height: 80px,
		),

		// Fixed Mode
		fixed: (
			zindex: 97,
			shadow: 0px 10px 30px 0px rgba(82,63,105,0.08),
			height: 80px
		)
	),

	// Tablet & Mobile Modes
	tablet-and-mobile: (
		// Default Mode
		default: (
			height: 55px,
			bg-color: $white,
			shadow: 0px 1px 9px -3px rgba(0,0,0, 0.1),
		),

		// Fixed Mode
		fixed: (
			zindex: 97,
			height: 55px
		)
	)
) !default;

// Header Menu
$header-menu-config: (
	// Desktop Mode
	desktop: (
		// Base Parameters
		base: (
			class: header-menu, // menu element class name
			mode: desktop // menu mode: "desktop", "desktop-and-tablet" or "general"
		),

		// Customize
		build: (
			// Layout
			layout: (
				// Container
				self: (
					margin: 0
				),

				// Item
				item: (
					// Item
					self: (
						padding: 0px 0.25rem
					),

					// Link
					link: (
						// self
						self: (
							padding: 0.25rem 0.5rem
						),

						// Icon
						icon: (
							width: 30px,
							svg-width: 23px,
							font-size: 1.4rem,
							padding: 0
						),

						// Bullet
						bullet:	(
							self: (
								width: 20px
							),

							dot: (
								size: 4px,
							),

							line: (
								width: 5px,
								height: 1px,
							)
						),

						// Text
						text: (
							font-size: 1rem,
							font-weight: 400,
							font-transform:	initial
						),

						// Label
						label:	(
							padding: 0px 0px 0px 5px
						),

						// Arrow
						arrow: (
							width: 20px,
							align: flex-end,
							font-size: 0.6rem
						)
					),

					// Submenu
					submenu: (
						// Submenu
						self: (
							zindex: get($header-config, desktop, fixed, zindex) + 1,
							padding: (
								classic: 20px 0px,
								megamenu: 0px
							),
							border-radius: 4px,
							width: (
								classic: 275px,  // Classic dropdown menu width
								// full width dropdown menu
								full: (
									offset: 20px
								)
							),
							animation: (
								offset: -10px
							),
							space: 1px
						),

						// Item
						item: (
							// Item
							self: (
								padding: 0px
							),

							// Link
							link: (
								// Link
								self: (
									padding: 11px 30px,
									padding-x: 30px
								),

								// Icon
								icon: (
									width: 33px,
									svg-width: 23px,
									font-size: 1.4rem,
									padding: 0
								),

								// Bullet
								bullet:	(
									self: (
										width: 20px
									),

									dot: (
										size: 4px
									),

									line: (
										width: 9px,
										height: 1px
									)
								),

								// Text
								text: (
									font-size: 1rem,
									font-weight: 400,
									font-transform:	initial
								),

								// Label
								label:	(
									padding: 0px 0px 0px 5px
								),

								// Arrow
								arrow: (
									padding: 0px 0px 0px 10px,
									width: 20px,
									font-size: 0.6rem
								)
							),

							// Column
							column: (
								// Column
								self: (
									padding: 0 0 20px 0
								),

								// Heading
								heading: (
									// Heading
									self: (
										padding: 30px 30px 10px 30px
									),

									// Caption
									caption: (
										// Icon
										icon: (
											width: 30px,
											svg-width: 23px,
											font-size: 1.35rem,
											padding: 0
										),

										// Text
										text: (
											font-size: 1.07rem,
											font-weight: 500,
											font-transform:	initial
										),

										// Label
										label:	(
											padding: 0px 0px 0px 5px
										)
									)
								)
							)
						)
					)
				)
			),

			// Theme
			theme: (
				// Item
				item: (
					// Link
					link: (
						// Link
						self: (
							bg-color: (
								default: none,
								active: none,
								here: none,
								hover: none
							)
						),

						// Bullet
						bullet:	(
							dot: (
								bg-color: (
									default: $text-muted,
									active: $danger,
									here: $danger,
									hover: $danger
								)
							),
							line: (
								bg-color:	(
									default: $text-muted,
									active: $danger,
									here: $danger,
									hover: $danger
								)
							)
						),

						// Text
						text: (
							font-color:	(
								default: $dark-75,
								active: $danger,
								here: $danger,
								hover: $danger
							)
						),

						// Arrow
						arrow: (
							font-color:	(
								default: $text-muted,
								active: $danger,
								here: $danger,
								hover: $danger
							)
						)
					),

					// Submenu
					submenu: (
						// Submenu
						self: (
							bg-color: $white,
							box-shadow: 0px 15px 50px 0px rgba(82,63,105,0.15)
						),

						// Item
						item: (
							link: (
								self: (
									bg-color: (
										active: $gray-100,
										here: $gray-100,
										hover: $gray-100,
									)
								),

								// Icon
								icon: (
									font-color:	(
										default: $text-muted,
										active: $danger,
										here: $danger,
										hover: $danger
									)
								),

								// Bullet
								bullet:	(
									dot: (
										bg-color: (
											default: $text-muted,
											active: $danger,
											here: $danger,
											hover: $danger
										)
									),
									line: (
										bg-color: (
											default: $text-muted,
											active: $danger,
											here: $danger,
											hover: $danger
										)
									)
								),

								// Text
								text: (
									font-color:	(
										default: $dark-75,
										active: $danger,
										here: $danger,
										hover: $danger
									)
								),

								// Arrow
								arrow: (
									font-color:	(
										default: $text-muted,
										active: $danger,
										here: $danger,
										hover: $danger
									)
								)
							),

							// Column
							column: (
								// Separator
								separator: (
									border: 1px solid $gray-200
								),

								// Heading
								heading: (
									// Caption
									caption: (
										// Icon
										icon: (
											font-color:	$text-muted
										),

										// Text
										text: (
											font-color:	$dark
										)
									)
								)
							)
						)
					)
				)
			)
		)
	),

	// Tablet & Mobile Modes
	tablet-and-mobile: (
		// Base Settings
		base:	(
			class: header-menu-mobile,
			parent-class: header-menu-wrapper,
			mode: tablet-and-mobile, //menu mode: "mobile", "tablet-and-mobile" or "general"
		),
		// Customize
		build: (
			// Layout
			layout: (
				// Default Mode
				default: (
					// Menu Panel
					self: (
						padding: 10px 0
					),

					// Item
					item: (
						// Item
						self: (
							margin:	0
						),

						// Link
						link: (
							// Link
							self: (
								height: 44px,
								padding: 9px 30px
							),

							// Icon
							icon:	(
								width: 35px,
								font-size: 1.4rem
							),

							// Bullet
							bullet:	(
								self: (
									width: 15px,
								),

								dot: (
									size: 4px
								),

								line: (
									width: 5px,
									height: 1px
								)
							),

							// Text
							text:	(
								font-size: 1.02rem,
								font-weight: 400,
								font-transform:	initial
							),

							// Arrow
							arrow:	(
								width: 20px,
								transition: all 0.3s ease,
								font-size: 0.6rem
							),

							// Label
							label:	(
								padding: 0px 0px 0px 5px,
								align: right
							)
						),

						// Submenu
						submenu: (
							// Submenu
							self: (
								indent: 15px,
								margin:	0
							),

							// Item
							item: (
								// Item
								self: (
									margin:	0
								),

								// Link
								link: (
									// Link
									self: (
										height: 40px,
										padding: 0 30px,
										padding-x: 30px
									),

									// Icon
									icon:	(
										width: 35px,
										font-size: 1.35rem
									),

									// Bullet
									bullet:	(
										self: (
											width: 20px,
										),
										dot: (
											size: 4px
										),
										line: (
											width: 5px,
											height: 1px
										)
									),

									// Text
									text:	(
										font-size: 1rem,
										font-weight: 400,
										font-transform:	initial
									),

									// Arrow
									arrow:	(
										width: 20px,
										transition: all 0.3s ease,
										font-size: 0.6rem
									),

									// Label
									label:	(
										padding: 0px 0px 0px 5px
									)
								)
							),

							// Section
							section: (
								self: (
									indent: 15px,
									padding: 0 25px,
									margin: 20px 0 0 0,
									height: 40px
								),

								text: (
									font-size: 0.8rem,
									font-weight: 300,
									font-transform: uppercase,
									letter-spacing: 0.3px
								),

								icon: (
									font-size: 1.1rem
								)
							),

							// Separator
							separator: (
								margin: 15px 0
							)
						)
					),

					// Section
					section: (
						self: (
							padding: 0 27px,
							margin: 20px 0 0 0,
							height: 40px
						),

						text: (
							font-size: 0.83rem,
							font-weight: 500,
							font-transform: uppercase,
							letter-spacing: 0.3px
						),

						icon: (
							font-size: 1.1rem
						)
					),

					// Separator
					separator: (
						margin: 15px 0,
					)
				)
			),

			// Themes
			theme: (
				// Default Mode
				default: (
					// Container
					self: (
						bg-color: $white
					),

					// root item
					item: (
						// Item
						self: (
							bg-color: (
								default: null,
								open: null,
								here: null,
								active: null,
								hover: null
							)
						),
						// Link
						link: (
							// Link
							self: (
								bg-color: (
									default: null,
									open: null,
									here: null,
									active: $gray-100,
									hover: null
								)
							),
							// Icon
							icon: (
								font-color:	(
									default: $text-muted,
									open: $danger,
									here: $danger,
									active: $danger,
									hover: $danger
								),
							),
							// Bullet
							bullet:	(
								dot: (
									bg-color: (
										default: $text-muted,
										open: $danger,
										here: $danger,
										active: $danger,
										hover: $danger
									)
								),
								line: (
									bg-color: (
										default: $text-muted,
										open: $danger,
										here: $danger,
										active: $danger,
										hover: $danger
									)
								)
							),
							// Text
							text:	(
								font-color:	(
									default: $dark-75,
									open: $danger,
									here: $danger,
									active: $danger,
									hover: $danger
								)
							),
							// Arrow
							arrow:	(
								font-color:	(
									default: $text-muted,
									open: $danger,
									here: $danger,
									active: $danger,
									hover: $danger
								)
							)
						),

						// Submenu
						submenu: (
							// Submenu
							self: (
								bg-color: (
									default: null,
									open: null,
									active: null,
									hover: null
								)
							),
							// Item
							item: (
								// Item
								self: (
									bg-color: (
										default: null,
										open: null,
										here: null,
										active: null,
										hover: null
									)
								),
								// Link
								link: (
									// Link
									self: (
										bg-color: (
											default: null,
											open: null,
											here: null,
											active: $gray-100,
											hover: null
										)
									),
									// Icon
									icon:	(
										font-color:	(
											default: $text-muted,
											open: $danger,
											active: $danger,
											hover: $danger
										)
									),
									// Bullet
									bullet:	(
										dot: (
											bg-color: (
												default: $text-muted,
												open: $danger,
												here: $danger,
												active: $danger,
												hover: $danger
											)
										),
										line: (
											bg-color: (
												default: $text-muted,
												open: $danger,
												here: $danger,
												active: $danger,
												hover: $danger
											)
										)
									),
									// Text
									text: (
										font-color:	(
											default: $dark-75,
											open: $danger,
											active: $danger,
											hover: $danger
										)
									),

									// Arrow
									arrow:	(
										font-color:	(
											default: $text-muted,
											open: $danger,
											active: $danger,
											hover: $danger
										)
									)
								)
							),

							// Section
							section: (
								text: (
									font-color: $dark-50
								),
								icon: (
									font-color: $text-muted
								)
							),

							// Separator
							separator: (
								border: 1px solid $gray-200
							)
						)
					),

					// Section
					section: (
						text: (
							font-color: $dark-50
						),
						icon: (
							font-color: $text-muted
						)
					),

					// Separator
					separator: (
						border: 1px solid $gray-200
					)
				)
			)
		)
	),

	// Offcanvas Mobile
	offcanvas-mobile: (
		width: 275px,
		zindex: 1001,
		bg-color: #ffffff,
		shadow: 0px 1px 9px -3px rgba(0,0,0,0.75),
		overlay-bg-color: rgba(#000000, 0.1)
	)
) !default;

// Header
$header-topbar-config: (
	// Tablet & Mobile Modes
	tablet-and-mobile: (
		height: 50px,
		bg-color: $white,
		shadow: 0px 1px 9px -3px rgba(0,0,0, 0.1),
		border-color: $gray-200
	)
) !default;

// Aside
$aside-config: (
	// Aside Config
	base: (
		width: 80px, // Aside's primary panel's width for desktop mode(see "aside-primary" class)
		shadow: none, // Aside's box shadow
		bg-color: $primary,  // Aside's background color
		zindex: 98  // Aside's z-index property
	),

	// Aside's Offcanvas Config(see mixin: src/sass/components/mixins/_offcanvas.scss)
	offcanvas-mobile: (
		width: 80px,
		zindex: 1001,
		bg-color: $primary,
		shadow: 0px 1px 9px -3px rgba(0,0,0,0.75),
		overlay-bg-color: rgba(#000000, 0.1)
	)
) !default;

// Aside Secondary
$sidebar-config: (
	// Aside Config
	default: (
		width: 400px, // Aside's primary panel's width for desktop mode(see "aside-primary" class)
		bg-color: #F5EBDF,  // Aside's background color
		zindex: 98,  // Aside's z-index property,
		btn: (   // Aside's button style property,
			default: (
				color: #CA8ABB,
				bg-color: #5B2B51
			),
			hover: (
				color: #CA8ABB,
				bg-color: #5B2B51
			)
		)
	),

	// Aside's Offcanvas Config(see mixin: src/sass/components/mixins/_offcanvas.scss)
	offcanvas-mobile: (
		width: 350px,
		zindex: 1001,
		shadow: 0px 1px 9px -3px rgba(0,0,0,0.75),
		overlay-bg-color: rgba(#000000, 0.1)
	)
) !default;

// Subheader
$subheader-config: (
	// Default Mode
	default: (
		bg-color: $white,
		border-color: $gray-200,
	),
	// Fixed Subheader Mode
	fixed: (
		height: 54px,
		shadow: 0px 10px 30px 0px rgba(82,63,105,0.08),
		zindex: 95
	)
) !default;
