//
// Menu
//

// Aside menu
.aside-menu {
    .menu {
        // Link padding x
        @include menu-link-padding-x(get($aside-config, padding-x));

        // Menu indention
        @include menu-link-indention(get($aside-config, menu-indention), get($aside-config, padding-x));
    }

    // Item
    .menu-item {
        padding: 0;

        // Menu title
        .menu-title {
            font-weight: 500;
        }

        // Menu Link
        .menu-link {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
        }

        // Icon
        .menu-icon {
            justify-content: flex-start;
        }
    }
}