<!-- begin::Row -->
<div class="row gy-5 g-xl-8">
  <div class="col-xxl-4">
    <app-mixed-widget2
      class="card card-xl-stretch mb-xl-8"
      chartColor="danger"
      chartHeight="200px"
      strokeColor="#cb1e46"
    ></app-mixed-widget2>
  </div>
  <div class="col-xxl-4">
    <app-lists-widget5 class="card card-xxl-stretch"></app-lists-widget5>
  </div>
  <div class="col-xxl-4">
    <app-mixed-widget10
      class="card card-xxl-stretch-50 mb-5 mb-xl-8"
      chartColor="primary"
      chartHeight="150px"
    ></app-mixed-widget10>
    <app-mixed-widget11
      class="card card-xxl-stretch-50 mb-5 mb-xl-8"
      chartColor="primary"
      chartHeight="175px"
    ></app-mixed-widget11>
  </div>
</div>
<!-- end::Row -->

<!-- begin::Row -->
<div class="row gy-5 gx-xl-8">
  <div class="col-xxl-4">
    <app-lists-widget3
      class="card card-xxl-stretch mb-xl-3"
    ></app-lists-widget3>
  </div>
  <div class="col-xl-8">
    <app-tables-widget10
      class="card card-xxl-stretch mb-5 mb-xl-8"
    ></app-tables-widget10>
  </div>
</div>
<!-- end::Row -->

<!-- begin::Row -->
<div class="row gy-5 g-xl-8">
  <div class="col-xl-4">
    <app-lists-widget2 class="card card-xl-stretch mb-xl-8"></app-lists-widget2>
  </div>
  <div class="col-xl-4">
    <app-lists-widget6 class="card card-xl-stretch mb-xl-8"></app-lists-widget6>
  </div>
  <div class="col-xl-4">
    <app-lists-widget4
      class="card card-xl-stretch mb-5 mb-xl-8"
    ></app-lists-widget4>
  </div>
</div>
<!-- end::Row -->

<div class="row g-5 gx-xxl-8">
  <div class="col-xxl-4">
    <app-mixed-widget8
      class="card card-xxl-stretch mb-xl-3"
      chartColor="success"
      chartHeight="150px"
    ></app-mixed-widget8>
  </div>
  <div class="col-xxl-8">
    <app-tables-widget5
      class="card card-xxl-stretch mb-5 mb-xxl-8"
    ></app-tables-widget5>
  </div>
</div>
