//
// Override global variables
//

// Theme colors
$primary:       									#8950FC;
$primary-hover:    									#7337EE;
$primary-light:    									#EEE5FF;
$primary-inverse:  									#FFFFFF;

$info:       									    #6993FF;
$info-hover:    									#4A7DFF;
$info-light:    									#E1E9FF;
$info-inverse:  									#FFFFFF;
