//
// Override global variables
//

// Theme colors
$primary:       									#F64E60;
$primary-hover:    									#EE2D41;
$primary-light:    									#FFE2E5;
$primary-inverse:  									#FFFFFF;

// Border Radiues
$border-radius:            						    .85rem;
