<div class="row g-5 g-xxl-8">
  <div class="col-xl-6">
    <app-feeds-widget2 class="card mb-5 mb-xxl-8"></app-feeds-widget2>
    <app-feeds-widget3 class="card mb-5 mb-xxl-8"></app-feeds-widget3>
    <app-feeds-widget4 class="card mb-5 mb-xxl-8"></app-feeds-widget4>
    <app-feeds-widget5 class="card mb-5 mb-xxl-8"></app-feeds-widget5>
    <app-feeds-widget6 class="card mb-5 mb-xxl-8"></app-feeds-widget6>
  </div>
  <div class="col-xl-6">
    <app-charts-widget1 class="card mb-5 mb-xxl-8"></app-charts-widget1>
    <app-lists-widget5 class="card mb-5 mb-xxl-8"></app-lists-widget5>
    <app-lists-widget2 class="card mb-5 mb-xxl-8"></app-lists-widget2>
  </div>
</div>
