<!-- begin::Row-->
<div class="row g-5 g-xl-8">
  <div class="col-xl-6">
    <app-charts-widget1 class="card card-xl-stretch mb-xl-8">
    </app-charts-widget1>
  </div>
  <div class="col-xl-6">
    <app-charts-widget2 class="card card-xl-stretch mb-5 mb-xl-8">
    </app-charts-widget2>
  </div>
</div>
<!-- end::Row-->

<!-- begin::Row-->
<div class="row g-5 g-xl-8">
  <div class="col-xl-6">
    <app-charts-widget3 class="card card-xl-stretch mb-xl-8">
    </app-charts-widget3>
  </div>
  <div class="col-xl-6">
    <app-charts-widget4 class="card card-xl-stretch mb-5 mb-xl-8">
    </app-charts-widget4>
  </div>
</div>
<!-- end::Row-->

<!-- begin::Row-->
<div class="row g-5 g-xl-8">
  <div class="col-xl-6">
    <app-charts-widget5 class="card card-xl-stretch mb-xl-8">
    </app-charts-widget5>
  </div>
  <div class="col-xl-6">
    <app-charts-widget6 class="card card-xl-stretch mb-5 mb-xl-8">
    </app-charts-widget6>
  </div>
</div>
<!-- end::Row-->

<!-- begin::Row-->
<div class="row g-5 g-xl-8">
  <div class="col-xl-6">
    <app-charts-widget7 class="card card-xl-stretch mb-xl-8">
    </app-charts-widget7>
  </div>
  <div class="col-xl-6">
    <app-charts-widget8 class="card card-xl-stretch mb-5 mb-xl-8">
    </app-charts-widget8>
  </div>
</div>
<!-- end::Row-->
