//
// Aside
//

// General Mode(all devices)
.aside {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: get($aside-config, base, width);
	z-index: get($aside-config, base, zindex);
	box-shadow: get($aside-config, base, shadow);
	background-color: get($aside-config, base, bg-color);

	// Aside Menu
	.aside-menu {
		@include perfect-scrollbar-ver-offset(4px);
	}
}

// Desktop Mode
@include media-breakpoint-up(lg) {

}

// Tablet & Mobile Modes
@include media-breakpoint-down(md) {
	.aside {
		// Buttons
		.btn.btn-icon.btn-lg {
			width: 40px;
			height: 40px;

			.svg-icon {
				@include svg-icon-size(26px);
			}
		}
	}
}

// Build Aside Offcanvas Panel for mobile mode
@include offcanvas-build(aside, tablet-and-mobile, get($aside-config, offcanvas-mobile));
