//
// Base
//

// Body
body {
	background: $page-bg;
}

// General Mode(all devices)
.wrapper {
	background-color: $content-bg;
	@include border-radius($border-radius-xl);
}

// Desktop Mode
@include media-breakpoint-up(lg) {
	// Wrapper
	.wrapper {
		margin: get($page-padding, desktop) 0;
		margin-left: get($aside-config, base, width);
		padding-top: $page-content-top-space;

		// Fixed Header & Minimized Header Modes
		.header-fixed[data-header-scroll="on"] & {
			padding-top: get($header-config, desktop, fixed, height);
		}

		// Fixed Content Head
		.header-fixed[data-header-scroll="on"].subheader-enabled.subheader-fixed & {
			padding-top: get($header-config, desktop, fixed, height) + get($subheader-config, fixed, height);
		}

		// Aside Secondary Enabled Mode
		margin-right: get($page-padding, desktop);

		.sidebar-enabled & {
			margin-right: 0;
		}
	}

	// Container
	.container,
	.container-fluid {
		padding: 0 get($page-padding, desktop);
	}
}

// Tablet & Mobile Modes
@include media-breakpoint-down(md) {
	// Wrapper
	.wrapper {
		// Fixed Header
		.header-mobile-fixed & {
			padding-top: get($header-config, tablet-and-mobile, fixed, height);
		}
	}

	// Container
	.container,
	.container-fluid {
		max-width: none;
		padding: 0 get($page-padding, tablet-and-mobile);
	}
}
