//
// Override global variables
//

// Theme colors
$primary:       									#8950FC;
$primary-hover:    									#7337EE;
$primary-light:    									#EEE5FF;
$primary-inverse:  									#FFFFFF;

// Grid columns
$grid-gutter-width:           						30px;

// Border Radiues
$border-radius:            						    .675rem;
