<ng-container *ngIf="user">
  <div class="card card-custom" [formGroup]="formGroup">
    <!-- begin::Loading -->
    <ng-container *ngIf="isLoading$ | async">
      <div class="progress progress-modal">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
          style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </ng-container>
    <!-- end::Loading -->
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Email Settings</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">Change your email settings</span>
      </div>
      <div class="card-toolbar">
        <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success mr-2" (click)="save()">Save Changes</button>
        <button type="reset" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="form">
      <div class="card-body">
        <div class="row">
          <label class="col-xl-3"></label>
          <div class="col-lg-9 col-xl-6">
            <h5 class="font-weight-bold mb-6">Setup Email Notification:</h5>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-xl-3 col-lg-3 col-form-label font-weight-bold text-left text-lg-right">Email
            Notification</label>
          <div class="col-lg-9 col-xl-6">
            <span class="switch switch-sm">
              <label>
                <input type="checkbox"
                  formControlName="emailNotification"
                  />
                <span></span>
              </label>
            </span>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-xl-3 col-lg-3 col-form-label font-weight-bold text-left text-lg-right">Send Copy To Personal
            Email</label>
          <div class="col-lg-9 col-xl-6">
            <span class="switch switch-sm">
              <label>
                <input type="checkbox"
                  formControlName="sendCopyToPersonalEmail"
                  />
                <span></span>
              </label>
            </span>
          </div>
        </div>
        <div class="separator separator-dashed my-10"></div>
        <div class="row">
          <label class="col-xl-3"></label>
          <div class="col-lg-9 col-xl-6">
            <h5 class="font-weight-bold mb-6">Activity Related Emails:</h5>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label font-weight-bold text-left text-lg-right">When To Email</label>
          <div class="col-lg-9 col-xl-6">
            <div class="checkbox-list">
              <label class="checkbox">
                <input type="checkbox" formControlName="youHaveNewNotifications" />
                <span></span>You have new notifications</label>
              <label class="checkbox">
                <input type="checkbox" formControlName="youAreSentADirectMessage" />
                <span></span>You're sent a direct message</label>
              <label class="checkbox">
                <input type="checkbox" formControlName="someoneAddsYouAsAsAConnection" />
                <span></span>Someone adds you as a connection</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label font-weight-bold text-left text-lg-right">When To Escalate
            Emails</label>
          <div class="col-lg-9 col-xl-6">
            <div class="checkbox-list">
              <label class="checkbox checkbox-primary">
                <input type="checkbox" formControlName="uponNewOrder" />
                <span></span>Upon new order</label>
              <label class="checkbox checkbox-primary">
                <input type="checkbox" formControlName="newMembershipApproval" />
                <span></span>New membership approval</label>
              <label class="checkbox checkbox-primary">
                <input type="checkbox" formControlName="memberRegistration" />
                <span></span>Member registration</label>
            </div>
          </div>
        </div>
        <div class="separator separator-dashed my-10"></div>
        <div class="row">
          <label class="col-xl-3"></label>
          <div class="col-lg-9 col-xl-6">
            <h5 class="font-weight-bold mb-6">Updates From Keenthemes:</h5>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label font-weight-bold text-left text-lg-right">Email You
            With</label>
          <div class="col-lg-9 col-xl-6">
            <div class="checkbox-list">
              <label class="checkbox">
                <input type="checkbox" formControlName="newsAboutKeenthemesProductsAndFeatureUpdates" />
                <span></span>News about Keenthemes products and feature updates</label>
              <label class="checkbox">
                <input type="checkbox" formControlName="tipsOnGettingMoreOutOfKeen">
                <span></span>Tips on getting more out of Keen</label>
              <label class="checkbox">
                <input type="checkbox" formControlName="thingsYouMissedSindeYouLastLoggedIntoKeen" />
                <span></span>Things you missed since you last logged into Keen</label>
              <label class="checkbox">
                <input type="checkbox" formControlName="newsAboutMetronicOnPartnerProductsAndOtherServices" />
                <span></span>News about Metronic on partner products and other services</label>
              <label class="checkbox">
                <input type="checkbox" formControlName="tipsOnMetronicBusinessProducts" />
                <span></span>Tips on Metronic business products</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end::Form-->
  </div>
</ng-container>