//
// Header Mobile
//

// Desktop Mode
@include media-breakpoint-up(lg) {
	.header-mobile {
		display: none;
	}
}

// Tablet & Mobile Modes
@include media-breakpoint-down(md) {
	.header-mobile {
		background-color: transparent;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 get($container-padding, tablet-and-mobile);
		box-shadow: get($header-config, tablet-and-mobile, shadow);
		height: get($header-config, tablet-and-mobile, height);
		transition: margin-top get($header-topbar-config, tablet-and-mobile, transition);
		position: relative;
		z-index: 3;
	}
}

@keyframes header-mobile-scroll-animation {
    from   { top: -(get($header-config, tablet-and-mobile, height)); }
    to { top: 0; }
}
