/node_modules

/public/hot
/public/storage
/public/css
/public/js
/public/media
/public/plugins

/public/demo1
/public/demo2
/public/demo3
/public/demo4
/public/demo5
/public/demo6
/public/demo7

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
