//
// Invoice 6
//

// Initialization of global variables, mixins and functions
@import "../../init";

.invoice-6 {
    .invoice-6-container {
        background-color: #1c0152;
    }

    .title-color {
        color: #b5a6d2;
    }

    .note-color {
        color: #847cb8;
    }
}