//
// Base
//

// Body
body {
	background: $page-bg;
}

// Desktop Mode
@include media-breakpoint-up(lg) {
	// Container
	.container,
	.container-fluid {
		padding: 0 get($page-padding, desktop);
	}

	// Wrapper
	.wrapper {
		// Fixed Header and Scroll Header Modes
		.header-fixed[data-header-scroll="on"] & {
			padding-top: get($header-config, desktop, height);
		}
	}
}

// Tablet & Mobile Modes
@include media-breakpoint-down(md) {
	// Container
	.container,
	.container-fluid {
		max-width: none;
		padding: 0 get($page-padding, tablet-and-mobile);
	}

	// Wrapper
	.wrapper {
		// Scroll Header Mode
		.header-mobile-fixed[data-header-scroll="on"] & {
			padding-top: get($header-config, tablet-and-mobile, height);
		}
	}
}
