//
// Override global variables
//

// Theme colors
$primary:       									#663259;
$primary-hover:    									#58244B;
$primary-light:    									#F4E1F0;
$primary-inverse:  									#FFFFFF;

// Grid columns
$grid-gutter-width:           						30px;

// Border Radiues
$border-radius:            						    .675rem;
