//
// Pagination
//

.pagination {
	flex:1;
	display:flex;
	justify-content: center;

	.page-link {
		display: flex;
		justify-content: center;
		align-items: center;
		transition: $transition-link;

		&.active,
		&:hover,
		&:focus {
			.page-link{
				transition: $transition-link;
			}
		}
	}
}
