//
// Aside Secondary
//

// General Mode(all devices)
.sidebar {
	width: get($sidebar-config, default, width);
	box-shadow: get($sidebar-config, default, shadow);
	background-color: get($sidebar-config, default, bg-color);

	// Aside Scroll
	.aside-scroll {
		@include perfect-scrollbar-ver-offset(4px);
	}
}

// Build Aside Offcanvas Panel for mobile mode
@include offcanvas-build(sidebar, tablet-and-mobile, get($sidebar-config, offcanvas-mobile));
